*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Indica que le body tome el 100% de la pantalla, agrego una imagen como fondo y se le agrega transparencia con linear*/
body{
    width: 100vw; /* Regla que toma el 100% del viewport a lo ancho*/
    height: 100vh; /* Regla que toma el 100% del viewport a lo largo*/
    background-image:linear-gradient(#00000069), url(Imagenes/Fondo.jpg); /* Regla background que permite utilizar una imagen como fondo, junto a un linear gradiant que permite darle opacidad */
}


/* Caja superior que contiene el menu de navegación*/
.header{
    width: 100%; /*Regla que toma a lo ancho el 100% de las dimensiones de la web */
    background-color: lightcoral; /* Color de fondo */
}

/* Reglas que modifican el menu de navegacion */
ul li{
    display: inline-block; /* Regla que nos permite utilizar los elementos de menu de navegacion en linea o en bloque*/
    margin: 10px; /* Le damos 10px de distancia al margin por todos los lados */
    margin-right: 6rem; /* Ajusto el margen a la derecha para separar los objetos en el menu de navegacion*/
    font-size: 1.3rem; /*Tamaño de la fuente */
}

/* Regla que se centra en los objetos del menu de navegacion directamente */
li a{ 
    text-decoration: none; /*Quitamos decoraciones(subrayado) */
    color: black;
}

/* Centramos el contenido */
ul{
    text-align: center;
}

/* Regla que modifica todas las etiquetas tipo h1 */
h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    color: white;
}

/* Regla que modifica todas las etiquetas tipo h2 */
h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: white;
}





/* Section que resetea las dimensiones de la fuente*/
section{
    font-size: 0;
}

/* Lamborghini Huracan producto 1 */
.producto1{
    width: 40%;
    height: 40%;
    display: inline-block; /*Regla que permite modificar la posicion de la caja dentro de la web*/
    margin-left: 5rem; /* Ajustamos posición desde la izquierda*/
    text-align: center; /*Regla que alinea los objetos tipo texto dentro de la caja */
    font-size: 16px; /*Reestablecemos los tamaños fuentes para el div "Producto1" */
    border: solid 5px rgba(240, 128, 128, 0.637); /* Borde de la caja*/
    border-radius: 20px;
    
}

/*Reglas que modifican la imagen dentro de producto 1*/
.producto1 .imagen{
    width: 35vw; 
    max-width: 100%;
    height: auto; /*Ingresamos la altura en automatico para que tome la mejor proporcion respecto a la caja*/
    margin: 0 auto; /*Centramos la imagen en la caja*/
    border-radius: 15px;
    

}

.producto1 h1{
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.producto1 p{
    width: 80%;
    height: 10vh;
    overflow: auto;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;
    
}

/* Lamborguini Hurus S Producto 2 */
.producto2{
    width: 40%;
    height: 40%;
    max-height: 50%;
    display: inline-block;
    margin-left: 7rem;
    margin-top: 7rem;
    text-align: center;
    font-size: 16px; 
     border: solid 5px rgba(240, 128, 128, 0.637);
    border-radius: 20px;
}
.producto2 .imagen2{
    width: 35vw;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;

}

.producto2 h1{
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.producto2 p{
    width: 80%;
    height: 10vh;
    overflow: auto;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: white;
}

.producto3{
    width: 40%;
    height: 40%;
    max-height: 50%;
    display: inline-block;
    margin-top: 6rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 16px;
    border: solid 5px rgba(240, 128, 128, 0.637);
    border-radius: 20px;
}
.producto3 .imagen3{
    width: 35vw;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;

}

.producto3 h1{
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.producto3 p{
    width: 80%;
    height: 10vh;
    overflow: auto;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: white;
}

.producto4{
    width: 40%;
    height: 40%;
    max-height: 80%;
    display: inline-block;
    margin-top: 6rem;
    margin-left: 7rem;
    text-align: center;
    font-size: 16px;
    border: solid 5px rgba(240, 128, 128, 0.637);
    border-radius: 20px;
}
.producto4 .imagen4{
    width: 35vw;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;

}

.producto4 h1{
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.producto4 p{
    width: 80%;
    height: 10vh;
    overflow: auto;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: white;

}



@media (max-width: 992px){
    .producto1,
    .producto3{
        margin-left: 4rem;
    }
    .producto2,
    .producto4{
        margin-left: 4rem;
    }

    .producto1 h1{
        white-space: pre-line;
        
    }
    .producto3 h1{
        white-space: pre-line;
    }
    .producto4 h1{
     white-space: pre-line;
     
    }

    .producto2 h1{
        white-space: pre-line;

    }

    ul{
        margin-left: 7rem;
    }

    .producto1 h1,
    .producto2 h1,
    .producto3 h1,
    .producto4 h1{
        font-size: 1.2rem;
    }
    
}

@media (max-width: 768px){
    .producto1,
    .producto3{
        margin-left: 2.5rem;
    }
    .producto2,
    .producto4{
        margin-left: 3rem;
    }

    ul li{
        display: inline-block;
        margin: 0px;
        margin-right: 2rem;
        margin-top: 0.7rem;
    }

    ul{
        margin-left: 2.5rem;
    }
    
    .header{
        height: 3rem;
    }

    .producto1 h1,
    .producto2 h1,
    .producto3 h1,
    .producto4 h1{
        font-size: 1.2rem;
    }
}

@media (max-width: 576px){
    .producto1,
    .producto2,
    .producto3,
    .producto4{
        width: 60%;
        margin: auto;
        margin-top: 1.8rem;
        margin-bottom: 2rem;
        display: block;
        
    }

    .producto1 .imagen,
    .producto2 .imagen2,
    .producto3 .imagen3,
    .producto4 .imagen4{
        width: 90%;
    }
}

